.u-section-1 .u-sheet-1 {
  min-height: 89px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  margin: 23px auto;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 23px;
  margin: 339px 904px 0 213px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -175px 0 60px 448px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    min-height: 30px;
    margin-top: 298px;
    margin-right: 701px;
    margin-left: 209px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -235px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    min-height: 28px;
    width: 28px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 193px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    min-height: 25px;
    width: 25px;
    margin-top: 198px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    margin-top: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    min-height: 21px;
    width: 21px;
    margin-top: 169px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 203px;
  }
}.Sri {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.Sri::before,
.Sri::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.Sri::before {
  background-color: #feb34e;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.Sri::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #feb34e;
}
.Sri:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.Sri:hover::after {
  transform: translate3d(0, 0, 0);
}
.Sri span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.Sri:hover span {
  transform: translate3d(-200%, 0, 0);
}