.u-section-1 .u-sheet-1 {
  min-height: 755px;
}

.u-section-1 .u-group-1 {
  min-height: 677px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin-top: 39px;
  margin-bottom: 39px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.25s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: none;
  margin: 20px 457px 0 30px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 12px auto 0 30px;
}

.u-section-1 .u-group-2 {
  width: 1080px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  min-height: 470px;
  height: auto;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px 30px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 459px;
  width: 1020px;
  margin: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    margin-bottom: 40px;
    background-position: 50% 50%;
    background-size: 120%;
    min-height: 656px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 287px;
  }

  .u-section-1 .u-group-2 {
    width: 880px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 446px;
    width: 820px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 80px;
    margin-bottom: 50px;
    background-size: auto 120%;
    min-height: 649px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 682px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 622px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 28px;
    margin-bottom: 49px;
    background-position: 0% 35.05%;
    min-height: 637px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
    min-height: 471px;
    margin: 20px auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 461px;
    width: 500px;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 29px;
    min-height: 638px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 300px;
    min-height: 485px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 473px;
    width: 280px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}