 .u-section-1 {
  background-image: linear-gradient(#ff9505, #000000);
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1264px;
  margin: 0 -62px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 736px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 529px;
  height: 552px;
  margin: 184px auto 0 10px;
}

.u-section-1 .u-image-2 {
  width: 551px;
  height: 734px;
  margin: -734px 30px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 736px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  margin: 79px 14px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.1;
  margin: 14px 13px 0 2px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -4px auto 0 2px;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 17px 50px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 494px;
    height: 516px;
    margin-top: 111px;
    margin-left: -28px;
  }

  .u-section-1 .u-image-2 {
    width: 442px;
    height: 604px;
    margin-top: -604px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    width: 432px;
    height: 451px;
    margin-top: 75px;
    margin-left: -30px;
  }

  .u-section-1 .u-image-2 {
    width: 338px;
    height: 488px;
    margin-top: -510px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 89px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    line-height: 1;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-left: 0;
    padding: 11px 39px 12px 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
    order: 1;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 22px;
    margin-left: -12px;
  }

  .u-section-1 .u-image-2 {
    width: 407px;
    height: 543px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -543px;
    margin-right: -19px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 239px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 12px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 15px;
    padding-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    width: 366px;
    height: 401px;
    margin-top: 0;
    margin-left: -70px;
  }

  .u-section-1 .u-image-2 {
    width: 359px;
    height: 478px;
    margin-top: -478px;
    margin-right: -49px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 11px;
    margin-right: 22px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -4px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-list-1 {
  width: 936px;
  margin: -23px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 204px;
  grid-gap: 21px 21px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 22px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 238px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 19px 15px 0;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 22px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  width: 238px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 19px 15px 0;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 22px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  width: 238px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 19px 15px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 428px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 428px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-2 .u-form-1 {
  margin: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-input-1 {
  background-image: none;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-input-2 {
  background-image: none;
}

.u-section-2 .u-label-3 {
  font-weight: 700;
}

.u-section-2 .u-input-3 {
  background-image: none;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  width: 100%;
  padding: 16px 0 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -110px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin: 27px -15px 3px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 19.3333px) calc(33.3333% - 19.3333px) calc(33.3333% - 19.3333px);
    min-height: 213px;
    grid-gap: 29px 29px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 13px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 661px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 19px;
    margin-bottom: 6px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1653px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 29px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 0px 0px 15px 5px rgba(128,128,128,1) !important;
  border-radius: 26px !important;
  transform: translateX(0px) translateY(0px) scale(0.94) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 0px 0px 15px 5px rgba(128,128,128,1) !important;
  border-radius: 26px !important;
  transform: translateX(0px) translateY(0px) scale(0.94) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 0px 0px 15px 5px rgba(128,128,128,1) !important;
  border-radius: 26px !important;
  transform: translateX(0px) translateY(0px) scale(0.94) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 0px 0px 15px 5px rgba(128,128,128,1) !important;
  border-radius: 26px !important;
  transform: translateX(0px) translateY(0px) scale(0.94) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 0px 0px 15px 5px rgba(128,128,128,1) !important;
  border-radius: 26px !important;
  transform: translateX(0px) translateY(0px) scale(0.94) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 0px 0px 15px 5px rgba(128,128,128,1) !important;
  border-radius: 26px !important;
  transform: translateX(0px) translateY(0px) scale(0.94) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}